<script>
  $(document).ready(function(){
    $('#user_expenses').dataTable()
  });
</script>

<h1>Your expenses</h1>
<table class="table table-bordered table-striped" id='user_expenses'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.cost %></td>
        <td><%= format_date(expense.date) %></td>
        <td><%= link_to "Edit", edit_expense_path(expense.id) %></td>
        <td><%= link_to "Delete", expense_path(expense.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>